[Desktop Entry]
Name=MS Röj
GenericName=MS Röj
Comment=
Categories=GTK
# Icon=com.github.ankjevel.ms-roj
Exec=com.github.ankjevel.ms-roj
Terminal=false
Type=Application
